html,body{
  margin: 0;
  padding: 0;
  
}
*{
  box-sizing: border-box;
}

.primary-color{
  color: var(--primary-color);
}
.primary-color:visited{
  color: var(--primary-color);
}
.secondary-color{
  color: var(--secondary-color);
}

.text-color-green{
  color: var(--success-color);
}
.text-color-red{
  color: var(--error-color);
}

.button-primary:hover{
  background-color: #2468d8;
  color: var(--light-color);
}
.button-secondary:hover{
  background-color: #F9FAFB;
  color: var(--primary-color);
}

.position-center{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.position-bottom-left{
  position: fixed;
  top: 20%;
  left: 95%;
  transform: translate(-100%, -100%);
  z-index: 5;
}

.loading-overlay{
  position: absolute;
  top: 50%;
  left: 30%;
}

/** NAVBAR CSS Starts**/

.nav{
    padding: 1rem 0;
    border: 0.13rem solid var(--primary-color);
    /* border-top-color: transparent; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 1rem;
    width: 100vw;
    max-width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0.5rem 0.5rem -0.5rem #bfd5fb;

    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--light-color);
    z-index: 1;
    margin-bottom: 0.5rem;
    
}
.nav>.nav-header{
  padding-left: 0.5rem;
}

.nav>.nav-header span{
    font-size: 2.5rem;
    font-weight: 550;
    
}
.nav>.nav-header>.nav-header-secondary{
    color: var(--dark-color);
   
}

.nav>.nav-header>.nav-header-secondary:hover {
    color: var(--primary-color);
   


}
.nav>.nav-header>.nav-header-primary{
    color: var(--primary-color);
}

.nav>.nav-links{
    display: flex;
    /* margin-top: 0.6rem; */
    margin-right: 0.5rem;
}
.nav .display-toggle{
    display: none;
}
.nav .display-toggle-mobile{
    display: block;
}

.nav>.nav-links button {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 0.2rem;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    vertical-align: super;
    flex-shrink: 1;
}
.nav>.nav-links button a {
    color: var(--dark-color);
}


.nav>.nav-links .button-badge-container:hover a{
    color: var(--primary-color);
    transition: ease-out 0.3s;  
}

.nav-icon-container{
    display: flex;
    flex-direction: column;   
}

.nav-icons{
    width: 1.8rem;
    margin: 0 0.5rem 0  auto;
}



.nav-link-active{
    color: var(--primary-color)  !important;
    
}

button.button-disabled{
   opacity: 0.6;
   cursor: not-allowed !important;
}

.button-badge-container{
    position: relative;
}

.button-badge-container>.icon-badge {
    position: absolute;
    top: -0.65rem;
    right: 0rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--light-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



/** NAVBAR CSS Ends **/


/** ERROR 404 PAGE Starts **/

.error-container{
  width: 30rem;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}
.error-image-container>img{
  width: 100%;
}

.error-container>.error-content-head{
  margin: 1rem auto;
  font-size: 2rem;
  color: #878787;
}
.error-container>.error-content-text{
  margin: 0 auto;
  font-size: 1.2rem;
}
.error-container>a{
  width: 100%;
  display: flex;
  justify-content: center;
}
.error-container button{
  font-size: 1rem;
  width: 10rem;
  margin: 1rem 0;
}

/** ERROR 404 PAGE Starts **/


/** EMPTY ITEM Starts **/

.empty-container{
  width: 30rem;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}
.empty-image-container>img{
  width: 100%;
}

.empty-container>.empty-content-head{
  margin: 1rem auto;
  font-size: 2rem;
  color: #878787;
}
.empty-container>.empty-content-text{
  margin: 0 auto;
  font-size: 1.2rem;
}
.empty-container>a{
  width: 100%;
  display: flex;
  justify-content: center;
}
.empty-container button{
  font-size: 1rem;
  width: 10rem;
  margin: 1rem 0;
}


/** EMPTY ITEM Starts **/



/** QUIZ-CATEGORY Starts **/

.quiz-category-banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.quiz-category-image-container{
  width: 30rem;
  max-width: 100%;
}
.quiz-category-image-container img{
  width: 100%;
  height: auto;
}

.quiz-category-headline{
  margin: 1rem;
  margin-bottom: 0;
  font-size: 3rem;
}

.quiz-category-list{
  display: flex;
  flex-direction: column;
  width: 51rem;
  max-width: 100%;
  margin: 1rem auto;
}

.quiz-category-card{
  width: 15rem;
  margin: 1rem auto;
  border: 1px solid var(--primary-color) !important;
}
.quiz-category-card a{
  width: 100%;
}

.quiz-category-card-button{
  width: 100%;
}



/** QUIZ-CATEGORY Ends **/


/** QUIZ RULES Starts **/

.quiz-rules-card{
  border: 1px solid var(--primary-color) !important;
  width: 30rem;
  max-width: calc(100% - 2rem);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--light-color) !important;
}
.quiz-rules-button-container{
  display: flex;
  justify-content: space-evenly;
}
.quiz-rules-button{
  width: 10rem;
}

/** QUIZ RULES Starts **/



/** Quiz QUESTIONS Starts **/

.quiz-question-card{
  width: 50rem;
  max-width: calc(100% - 2rem);
  border: 1px solid var(--primary-color) !important;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem;
}
.quiz-question-card-header{
  display: flex;
  justify-content: space-between;
}
.quiz-question-button-container{
  display: flex;
  justify-content: center;
}
.quiz-question-next-button{
  width: 100%;
  
}

.quiz-option{
  width: 100%;
  border: 1px solid #808080;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem 0;
  text-align: center;
  cursor: pointer;
}
.quiz-option:disabled{
  cursor: default;
}

.option-color-success{
  color: rgb(1 78 52);
  background-color: rgba(16, 185, 129, 0.2);
  border-color: rgb(1 78 52);
}
.option-color-error{
  color: rgb(134 0 0);
  background-color: rgba(239, 68, 68, 0.2);
  border-color: rgb(134 0 0);
}

/** Quiz QUESTIONS Ends **/



/** QUESTIONS ANSWER Starts **/

.answers-card{
  width: 50rem;
  max-width: 100%;
  padding: 0 auto;
}

.answers-score{
  font-size: 1.5rem;
  text-align: center;
}

.question-answer-card{
  width: 50rem;
  max-width: calc(100% - 2rem);
  border: 1px solid var(--primary-color) !important;
  padding: 0.5rem;
  margin: 1rem;
}

/** QUESTIONS ANSWER ENds **/



@media screen and (min-width: 480px) {
  .quiz-category-banner{
    display: flex;
    flex-direction: row;
  }
  .quiz-category-list{
    display: flex;
    flex-direction: row;
  }
  

}